.wrapper {
	padding: 0px;
	margin: 0px;
	width: 100%;

	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;

		> button {
			background: none;
			border: none;
			color: aliceblue;
			padding: 0;
			margin: 0;
		}

		svg {
			font-size: 35px;
		}
	}
}
