.menu {
	position: absolute;
	bottom: 0px;
	right: 0;
	left: 0;
	border-top: 2px var(--bg-color-light) solid;
	padding: 15px;
	display: flex;
	justify-content: space-between;
	

	a {
		color: aliceblue;

		svg {
			font-size: 30px;
		}

		&:hover,
		&.active {
			color: var(--bg-color-dark);
			cursor: pointer;
		}
	}
}
