.header {
	display: flex;
	flex-direction: column;
	width: 100%;
	z-index: 10;
	position: fixed;
	height: 14%;
	top: 0;
	background-color: var(--bg-color-nav-sidebar);

	.main {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;

		> button {
			background-color: transparent;
			border: none;
			outline: none;
			cursor: pointer;
		}
	}

	.themeCont {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 130px;
		.span {
			font-weight: 500;
		}
	}
}
