.item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 8px;
	font-size: 17px;
	padding: 7px;
	border-radius: 5px;
	background-color: var(--bg-color-light);

	.actions {
		display: flex;
		align-items: center;

		> button {
			color: var(--bg-color-bright);

			&:first-child {
				margin-right: 16px;
			}

			&:hover {
				cursor: pointer;
			}
		}

		button {
			outline: none;
			border: none;
			background-color: transparent;
			padding: 0;
		}
	}
}

.itemHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 15px;
	margin-top: 16px;
	margin-bottom: 16px;
	padding: 7px;
	border-radius: 5px;
	background-color: var(--bg-color-dark);
}
