@import 'src/assets/styles/animations';

.list {
	animation: opacity 1s ease-in-out;

	.button {
		padding: 10px;
		transition: background-color 0.3s ease-in-out;
		text-align: center;
		background-color: var(--bg-color-bright);
		color: aliceblue;
		border: none;
		border-radius: 10px;
		width: 100%;
		font-family: 'Roboto', sans-serif;

		&:hover {
			cursor: pointer;
			background-color: var(--bg-color-dark);
		}
	}

	.item {
		display: flex;
		align-items: stretch;

		a {
			img {
				border-radius: 5px;
				border: 1px solid transparent !important;
				object-position: top;
			}

			&:hover {
				img {
					border-color: var(--bg-color-dark) !important;
				}
			}
		}

		.info {
			margin-left: 16px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: 67%;
		height: 105px;


			.title {
				font-size: 20px;
				font-weight: 500;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			.genres {
				font-size: 12px;
				color: var(--light-pink);
				margin-top: 5px;
			}
			.rating {
				display: flex;
				align-items: center;

				svg {
					color: yellow;
					margin-right: 8px;
					font-size: 18px;
					line-height: 28px;
				}

				span {
					font-weight: 500;
				}
			}
		}
	}
}
