.label {
	display: flex;
	flex-direction: column;
}
.inputUpload {
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 12px;

	&::file-selector-button {
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 14px;
		padding-right: 14px;
		background-color: var(--bg-color-dark);
		border-radius: 13px;
		border: none;
		font-size: 12px;
		line-height: 20px;
		color: aliceblue;
		transition: opacity ease-in-out 200ms;
		cursor: pointer;
	}
}

.placeholder {
	opacity: 0.7;
}

.img {
	object-position: top;
	object-fit: cover;
}

.error {
	color: var(--bg-color-bright);
}
