.header {
	position: absolute;
	top: 0%;
	left: 20.5%;
	width: 76%;
	height: 15%;
	display: flex;
	align-items: center;
	justify-content: space-between;

	.contLogoName {
		display: flex;
		align-items: center;
		width: 35%;
		
		:first-child {
			margin-right: 10%;
		}
	}


}
