.content {
	position: relative;
	margin-top: 0;

	h1 {
		margin: 0;
		text-transform: uppercase;
		font-size: 30px;
		font-weight: 600;
		margin-bottom: 4px;
		text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
	}

	.details {
		opacity: 0.8;
		margin-top: 12px;
		margin-bottom: 12px;
	}
}
